{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Password Reset Complete</title>
{% endblock %}

<body class="customer-account-login inner-page">
  <div id="page"> 
    {% block content %}
      <!--Reset Password-->
      <section class="main-container col1-layout bounceInUp animated">
        <div class="main container">
          <div class="account-login">
            <div class="page-title">
              <h1>Reset Passoword Complete</h1>
              {% include 'messages.html' %}
            </div>
            <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
          </div>
        </div>
      </section>
    {% endblock %}
  </div>