{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Change Password</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
{% endblock %}

<body class="customer-account-login inner-page">
  <div id="page"> 
    {% block content %}
      <!-- Main Container -->
      <section class="main-container col1-layout bounceInUp animated">
        <div class="main container">
          <div class="account-login">
            <h2>Enter Your New Password</h2>
            <fieldset class="col2-set">
                <div class="content">
                  <form method="POST" id="login-form">
                    {% include 'messages.html' %}
                    {% csrf_token %}
                    {% if form.errors %}
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          <div id="form_errors">
                              {% for key, value in form.errors.items %}
                                  <strong>{{ value }}</strong>
                              {% endfor %}
                          </div>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                    {% endif %}
                    <ul class="form-list row">
                      <li class="col-md-6">
                        {{ form.new_password1 }}
                      </li>
                      <li class="col-md-6">
                        {{ form.new_password2 }}
                      </li>
                    </ul>
                    <div class="buttons-set">
                      <button type="submit" class="button"><span>Save</span></button>
                    </div>
                  </form>
                </div>
            </fieldset>
          </div>
        </div>
      </section>
      <!-- Main Container End --> 
    {% endblock %}
  </div>

{% block js %}
  <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
{% endblock %}
