{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}          
{% block title %}
  <title>Reset Password Done</title>
{% endblock %}


<body class="customer-account-login inner-page">
  <div id="page"> 
    {% block content %}
      <!--Reset Password-->
      <section class="main-container col1-layout bounceInUp animated">
        <div class="main container">
          <div class="account-login">
            <div class="page-title">
              <h1>Reset Passowrd Sent</h1>
              {% include 'messages.html' %}
            </div>
          </div>
        </div>
      </section>
    {% endblock %}
  </div>