{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Reset Password</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
{% endblock %}

<body class="customer-account-login inner-page">
  <div id="page"> 
    {% block content %}
      <!--Reset Password-->
      <section class="main-container col1-layout bounceInUp animated">
        <div class="main container">
          <div class="account-login">
            <div class="page-title">
              <h1>Reset Passowrd</h1>
            </div>
            <fieldset class="col2-set">
              <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
              <div class="content">
                <form method="POST">
                  {% csrf_token %}
                  {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  {% endif %}
                  <ul class="form-list row">
                    <li class="col-md-6">
                      {{ form.email.label }}
                      {{ form.email }}
                    </li>      
                  </ul>
                  <div class="buttons-set">
                    <button class="button login" type="submit">Send email</button>
                  </div>
                </form>
              </div> 
            </fieldset>
          </div>
        </div>
      </section>
    {% endblock %}
  </div>
