{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>404 Error Not Found</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
{% endblock %}

<body class="inner-page">
  <div id="page"> 
    <!-- Main Container -->
    {% block content %}
      <section class="content-wrapper bounceInUp animated">
        <div class="container">
          <div class="std">
            <div class="page-not-found">
              <h1>404</h1>
              <h3>Oops! The Page you requested was not found!</h3>
              <div><a href="{% url 'index' %}" class="btn-home"><span>Back To Home</span></a></div>
            </div>
          </div>
        </div>
      </section>
    {% endblock %}
    <!-- Main Container End --> 
  </div>

{% block js %}
  <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
{% endblock %}
