{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Contact Us</title>
{% endblock %}

<!-- CSS Style -->
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
{% endblock %}

<body class="contacts-index-index rtl inner-page">
  <div id="page"> 
    <!-- Main Container -->
    {% block content %}
      <section class="main-container col2-right-layout">
        <div class="main container">
          <div class="row">
            <section class="col-main col-sm-9">
              <div class="page-title">
                <h1>Contact Us</h1>
              </div>
              <form method="POST">
                {% include 'messages.html' %}
                {% csrf_token %}
                {% if form.errors %}
                  <div class="alert alert-danger alert-dismissible" role="alert">
                      <div id="form_errors">
                          {% for key, value in form.errors.items %}
                              <strong>{{ value }}</strong>
                          {% endfor %}
                      </div>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                {% endif %}
                <div class="static-contain">
                  <fieldset class="group-select">
                    <ul>
                      <li id="billing-new-address-form">
                        <fieldset>
                          <legend>Your Comment</legend>
                          <input type="hidden"  id="address_id">
                          <ul class="row form-list">
                            <li class="col-md-6">
                              {{ form.first_name.label }}
                              {{ form.first_name }}
                            </li>
                            <li class="col-md-6">
                              {{ form.last_name.label }}
                              {{ form.last_name }}
                            </li>
                            <li class="col-md-6">
                              {{ form.telephone.label }}
                              {{ form.telephone }}
                            </li>
                            <li class="col-md-6">
                              {{ form.email.label }}
                              {{ form.email }}
                            </li>
                            <li class="col-md-12">
                              {{ form.comment.label }}
                              {{ form.comment }}
                            </li>
                          </ul>
                        </fieldset>
                      </li>
                      <div class="buttons-set">
                        <button type="submit" title="Submit" class="button submit"> <span> Submit </span> </button>
                      </div>
                    </ul>
                  </fieldset>
                </div>
              </form>
            </section>
          </div>
        </div>
      </section>
    {% endblock %}
    <!-- Main Container End --> 
  </div>

{% block js %}
  <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
{% endblock %}
