{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
  <title>Superb Premium</title>
{% endblock %}

<body class="cms-index-index index">
  <div id="page">   
    {% block content %}
      <!-- Slider -->
        <div id="thm-slideshow" class="thm-slideshow">
          <div class="container">
            <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;"> 
              <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
              <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                <ul>
                  <!-- SLIDE  -->
                  <li data-index="rs-16" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="images/slide-img1.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description=""> 
                    <!-- MAIN IMAGE --> 
                    <img src="{% static 'images/bannerfoto1.jpg' %}" alt=""> 
                    <!-- LAYERS --> 
                    
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                        id="slide-16-layer-1" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-lineheight="['70','70','70','50']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                  
                        data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-splitin="chars" 
                        data-splitout="none" 
                        data-responsive_offset="on" 

                        data-elementdelay="0.05" 
                        
                        style="z-index: 5; white-space: nowrap;">New Winter Sale</div>
                    
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                        id="slide-16-layer-4" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" 
                              data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                  
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="1500" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 

                        
                        style="z-index: 6; white-space: nowrap;">Superb ecommerce store is updated regularly with offers.</div>
                    
                    <!-- LAYER NR. 3 -->
                                          
                                          
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-1" 
                        id="slide-17-layer-8" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['120','100','100','100']" 
                              data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                          data-style_hover="cursor:default;"
                  
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="2000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 

                        
                        style="z-index: 7; white-space: nowrap;"><a href="#">Learn More</a></div>
                  </li>
                  <!-- SLIDE  -->
                  
                  <!-- SLIDE  -->
                  <li data-index="rs-18" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="images/slide-img2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-description=""> 
                    <!-- MAIN IMAGE --> 
                    <img src="{% static 'images/bannerfoto2.jpg' %}" alt="">  
                    <!-- LAYERS --> 
                    
                    <!-- LAYER NR. 1 -->
                    
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                        id="slide-18-layer-1" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-lineheight="['70','70','70','50']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                  
                        data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-splitin="chars" 
                        data-splitout="none" 
                        data-responsive_offset="on" 

                        data-elementdelay="0.05" 
                        
                        style="z-index: 6; white-space: nowrap;">Mega Sale</div>
                    
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                        id="slide-18-layer-4" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']" 
                              data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                  
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="1500" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 

                        
                        style="z-index: 7; white-space: nowrap;">50% discount for special products</div>
                  </li>
                  <!-- SLIDE  -->
                  <li data-index="rs-19" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="images/video-img.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="HTML5 Video" data-description=""> 
                    <!-- MAIN IMAGE --> 
                    <img src="{% static 'images/bannerfoto3.jpg' %}"  alt=""> 
                    <!-- LAYERS --> 
                    
                    <!-- LAYER NR. 1 -->
                    
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" 
                        id="slide-19-layer-1" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                        data-lineheight="['70','70','70','50']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                  
                        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-splitin="chars" 
                        data-splitout="none" 
                        data-responsive_offset="on" 

                        data-elementdelay="0.05" 
                        
                        style="z-index: 6; white-space: nowrap;">Hot deals</div>
                    
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                        id="slide-19-layer-4" 
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" 
                              data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"
                  
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="1500" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 

                        
                        style="z-index: 7; white-space: nowrap;">Special discount for children's products</div>
                    
                    <!-- LAYER NR. 4 -->
                  </li>
                  <!-- SLIDE  -->
                  
                </ul>
                <div class="tp-static-layers"></div>
                <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
              </div>
            </div>
          </div>
        </div>
  
      <!-- end Slider -->
      <!-- Featured Slider -->
      <section class="featured-pro container wow bounceInUp animated">
        <div class="slider-items-products container">
          <div class="new_title center">
            <h2>{% trans 'SuperB Products' %}</h2>
            <div class="starSeparator"></div>
          </div>
          <div id="featured-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4 products-grid">
              {% for item in items %}
                <!-- Item -->
                <div class="item">
                  <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info"> <a class="product-image" title="Retis lapen casen" href="{% url 'product_detail' pk=item.pk %}"> <img alt="Retis lapen casen" src="{{ item.cover_image.url }}"> </a></div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <a title="Retis lapen casen" href="{% url 'product_detail' pk=item.pk %}"> {{ item.product.name }} </a> </div>
                        <div class="item-content">
                          <div class="item-price">
                            {% if item.product.in_sale %}
                              <p class="special-price"> <span class="price-label"></span> <span class="price"> ${{ item.product.new_price|stringformat:".2f"  }}</span> </p> <p class="old-price"> <span class="price-label"></span> <span class="price"> ${{ item.product.price|stringformat:".2f"  }} </span> </p>
                            {% else %}
                              <p class="special-price"> <span class="price-label"></span> <span class="price"> ${{ item.product.price|stringformat:".2f"  }}</span> </p>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Item --> 
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      <!-- End Featured Slider -->
      <div class="container">
        <div class="row">
          <div class="products-grid">
            <div class="col-md-12">
              <div class="std">
                <div class="home-tabs wow bounceInUp animated">
                  <div class="producttabs">
                    <div id="thm_producttabs1" class="thm-producttabs"> 
                      <!--<h3></h3>-->
                      <div class="thm-pdt-container"> 
                        <!--Begin Tab Nav -->
                        <div class="thm-pdt-nav">
                          <ul class="pdt-nav">
                            <li class="item-nav" data-type="order" data-catid="" data-orderby="best_sales" data-href="pdt_best_sales"><span class="title-navi">{% trans 'Best Seller' %}</span></li>
                            <li class="item-nav tab-loaded tab-nav-actived" data-type="order" data-catid="" data-orderby="new_arrivals" data-href="pdt_new_arrivals"><span class="title-navi">{% trans 'New Arrivals' %}</span></li>
                            <li class="item-nav" data-type="order" data-catid="" data-orderby="featured" data-href="pdt_featured"><span class="title-navi">{% trans 'Featured' %}</span></li>
                          </ul>
                        </div>
                        <!-- End Tab Nav --> 
                        <!--Begin Tab Content -->
                        <div class="thm-pdt-content wide-5">
                          <div class="pdt-content is-loaded pdt_best_sales">
                            <ul class="pdt-list products-grid zoomOut play">
                              {% for best_item in best_items %}
                                <li class="item item-animate">
                                  <div class="item-inner">
                                    <div class="item-img">
                                      <div class="item-img-info"><a href="{% url 'product_detail' pk=best_item.pk %}" title="Retis lapen casen" class="product-image"><img src="{{ best_item.cover_image.url }}" alt="Retis lapen casen"></a></div>
                                    </div>
                                    <div class="item-info">
                                      <div class="info-inner">
                                        <div class="item-title"><a href="{% url 'product_detail' pk=best_item.pk %}" title="Retis lapen casen">{{ best_item.product.name }}</a> </div>
                                        <div class="item-content">
                                          <div class="item-price">
                                            {% if best_item.product.in_sale %}
                                              <p class="special-price"> <span class="price-label"></span> <span class="price"> ${{ best_item.product.new_price|stringformat:".2f"  }}</span> </p> <p class="old-price"> <span class="price-label"></span> <span class="price"> ${{ best_item.product.price|stringformat:".2f"  }} </span> </p>
                                            {% else %}
                                              <p class="special-price"> <span class="price-label"></span> <span class="price"> ${{ best_item.product.price|stringformat:".2f"  }}</span> </p>
                                            {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="pdt-content pdt_new_arrivals is-loaded  tab-content-actived">
                            <ul class="pdt-list products-grid zoomOut play">
                              {% for new_item in new_items %}
                                <li class="item item-animate">
                                  <div class="item-inner">
                                    <div class="item-img">
                                      <div class="item-img-info"><a href="{% url 'product_detail' pk=new_item.pk %}" title="Retis lapen casen" class="product-image"><img src="{{ new_item.cover_image.url }}" alt="Retis lapen casen"></a></div>
                                    </div>
                                    <div class="item-info">
                                      <div class="info-inner">
                                        <div class="item-title"><a href="{% url 'product_detail' pk=new_item.pk %}" title="Retis lapen casen">{{ new_item.product.name }}</a> </div>
                                        <div class="item-content">
                                          <div class="item-price">
                                            {% if new_item.product.in_sale %}
                                              <p class="special-price"> <span class="price-label"></span> <span class="price"> ${{ new_item.product.new_price|stringformat:".2f"  }}</span> </p> <p class="old-price"> <span class="price-label"></span> <span class="price"> ${{ new_item.product.price|stringformat:".2f"  }} </span> </p>
                                            {% else %}
                                              <p class="special-price"> <span class="price-label"></span> <span class="price"> ${{ new_item.product.price|stringformat:".2f"  }}</span> </p>
                                            {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="pdt-content pdt_featured is-loaded">
                            <ul class="pdt-list products-grid zoomOut play">
                              {% for featured_item in featured_items %}
                                <li class="item item-animate">
                                  <div class="item-inner">
                                    <div class="item-img">
                                      <div class="item-img-info"><a href="{% url 'product_detail' pk=featured_item.pk %}" title="Retis lapen casen" class="product-image"><img src="{{ featured_item.cover_image.url }}" alt="Retis lapen casen"></a></div>
                                    </div>
                                    <div class="item-info">
                                      <div class="info-inner">
                                        <div class="item-title"><a href="{% url 'product_detail' pk=featured_item.pk %}" title="Retis lapen casen">{{ featured_item.product.name }}</a> </div>
                                        <div class="item-content">
                                          <div class="item-price">
                                            {% if featured_item.product.in_sale %}
                                              <p class="special-price"> <span class="price-label"></span> <span class="price"> ${{ featured_item.product.new_price|stringformat:".2f"  }}</span> </p> <p class="old-price"> <span class="price-label"></span> <span class="price"> ${{ featured_item.product.price|stringformat:".2f"  }} </span> </p>
                                            {% else %}
                                              <p class="special-price"> <span class="price-label"></span> <span class="price"> ${{ featured_item.product.price|stringformat:".2f"  }}</span> </p>
                                            {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>     
                              {% endfor %}                 
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Latest Blog -->
      <section class="latest-blog wow bounceInUp animated">
        <div class="container">
          <div class="new_title center">
            <h1>{% trans 'Latest Blogs' %}</h1>
            <div class="starSeparator"></div>
          </div>
          <div class="row">
            {% for blog in blogs %}
              <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <div class="blog_post">
                  <div class="thumbnail">
                    <h2> 
                      <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a> 
                    </h2>
                    <div class="featured-img">
                      <span class="gradient-overlay"></span>
                      <img src="{{ blog.image.url }}" alt="blog post">
                    </div>
                  </div>
                  <div class="entry-meta">
                    <a href="{% url 'blogs' %}?author={{blog.author.author_slug}}">
                      <span class="author-avatar byline"><img alt="" src="{{ blog.author.author_image.url }}" class="avatar avatar-96 photo">{{ blog.author }}</span> <span class="timestamp">{{ blog.date|date:"F j, Y"}}</span>
                    </a>
                  </div>
                  <p> {{ blog.desc|truncatechars:340 }} </p>
                  <a href="{{ blog.get_absolute_url }}" class="continue-btn">Continue Reading <span>›</span></a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- End Latest Blog -->
    {% endblock %}
  </div>

{% block js %}
  <script type="text/javascript" src="{% static 'js/countdown.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/revolution-slider.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/revolution.extension.js' %}"></script> 
  <script type="text/javascript">
  var dthen1 = new Date("12/25/17 11:59:00 PM");
    start = "05/03/15 03:02:11 AM";
    start_date = Date.parse(start);
    var dnow1 = new Date(start_date);
    if (CountStepper > 0)
    ddiff = new Date((dnow1) - (dthen1));
    else
    ddiff = new Date((dthen1) - (dnow1));
    gsecs1 = Math.floor(ddiff.valueOf() / 1000);
    
    var iid1 = "countbox_1";
    CountBack_slider(gsecs1, "countbox_1", 1);
    
    var dthen1 = new Date("12/12/17 11:59:00 PM");
    start = "01/20/16 03:02:11 AM";
    start_date = Date.parse(start);
    var dnow1 = new Date(start_date);
    if (CountStepper > 0)
    ddiff = new Date((dnow1) - (dthen1));
    else
    ddiff = new Date((dthen1) - (dnow1));
    gsecs1 = Math.floor(ddiff.valueOf() / 1000);
    
    var iid1 = "countbox_2";
    CountBack_slider(gsecs1, "countbox_2", 1);
  </script>
  <script type="text/javascript">
            var tpj=jQuery;			
            var revapi4;
            tpj(document).ready(function() {
              if(tpj("#rev_slider_4_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_4_1");
              }else{
                revapi4 = tpj("#rev_slider_4_1").show().revolution({
                  sliderType:"standard",
                  sliderLayout:"fullwidth",
                  dottedOverlay:"none",
                  delay:9000,
                  navigation: {
                    keyboardNavigation:"off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation:"off",
                    onHoverStop:"off",
                    touch:{
                      touchenabled:"on",
                      swipe_threshold: 75,
                      swipe_min_touches: 1,
                      swipe_direction: "horizontal",
                      drag_block_vertical: false
                    }
                    ,
                    arrows: {
                      style:"zeus",
                      enable:true,
                      hide_onmobile:true,
                      hide_under:750,
                      hide_onleave:true,
                      hide_delay:200,
                      hide_delay_mobile:1200,
                      tmp:'<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div> </div>',
                      left: {
                        h_align:"left",
                        v_align:"center",
                        h_offset:30,
                        v_offset:0
                      },
                      right: {
                        h_align:"right",
                        v_align:"center",
                        h_offset:30,
                        v_offset:0
                      }
                    }
                  },
                  viewPort: {
                    enable:true,
                    outof:"pause",
                    visible_area:"80%"
                  },
                  responsiveLevels:[1240,1024,778,480],
                  gridwidth:[768,1024,778,480],
                  gridheight:[890,600,500,400],
                  lazyType:"none",
                  parallax: {
                    type:"mouse",
                    origo:"slidercenter",
                    speed:2000,
                    levels:[2,3,4,5,6,7,12,16,10,50],
                  },
                  shadow:0,
                  spinner:"off",
                  stopLoop:"off",
                  stopAfterLoops:-1,
                  stopAtSlide:-1,
                  shuffle:"off",
                  autoHeight:"off",
                  hideThumbsOnMobile:"off",
                  hideSliderAtLimit:0,
                  hideCaptionAtLimit:0,
                  hideAllCaptionAtLilmit:0,
                  debugMode:false,
                  fallbacks: {
                    simplifyAll:"off",
                    nextSlideOnWindowFocus:"off",
                    disableFocusListener:false,
                  }
                });
              }
            });	/*ready*/
  </script>
{% endblock %}